doctype html
html
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(type='text/css', rel='stylesheet', href='/stylesheets/materialize.css', media='screen,projection')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    script(type='text/javascript', src='/javascripts/materialize.js')

    div
        nav
            div.nav-wrapper.teal.darken-2
                a.brand-logo(href='#') SYS
                ul.right.hide-on-med-and-down(id='nav-mobile')
                    if user
                        li
                            a(href='/users/logout') Logout
                        li
                            a(href='/users/getAll') View Users
                    else
                        li
                            a(href='/users/login') Login
                        li
                            a(href='/users/register') Register




    block content
