extends layout

block content
    p Welcome to users

    table
        thead
            tr
                th Name
                th EMail
        tbody
            each val in users
                tr
                    td=val.name
                    td=val.email
                    td
                        a.waves-effect.waves-light.btn(href='/users/editUser/' + val.email) Edit
                        a.waves-effect.waves-light.btn(href='/users/deleteUser/' + val.email, style='margin-left:10px') Delete






